.functionBar{
    display: grid;
    margin: 0%;
    width: 300px;
    height: 50px;
    text-align: right;


}

.functionDisplay{
padding-top: 7%;
padding-right: 2%;
border: solid black 2px;
border-radius: 5px;
}

.numberPad{
    width: 500px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.numberButtons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.number{
    margin: 5%;
    padding: 5%;
}
.operatorButtons{
    display: grid;
    padding-left: 1fr;
    grid-column: 1fr;
}

.operator, .equals{

    margin-right: 70%;
    border-right: 10%;
    width: 1fr;
}

.clear{
    width: 100%
}